backend:
  name: github
  repo: callas1900/net
  branch: main
  base_url: https://sveltia-cms-auth.callas1900-76e.workers.dev
  auth:
    client_id: Ov23lidoN9vNJEdFYneQ

media_folder: "static/uploads"
public_folder: "/uploads"

collections:
  - name: "posts"
    label: "Blog Posts"
    folder: "content/posts"
    path: "{{year}}/{{year}}{{month}}{{day}}_{{fields.slug}}"
    create: true
    extension: "md"
    format: "yaml-frontmatter"
    fields:
      - label: "Title"
        name: "title"
        widget: "string"
      - label: "Slug"
        name: "slug"
        widget: "string"
        required: true
      - label: "Date"
        name: "date"
        widget: "datetime"
      - label: "Description"
        name: "description"
        widget: "text"
        required: false
      - label: "Cover Image"
        name: "cover"
        widget: "image"
        required: false
      - label: "Tags"
        name: "tags"
        widget: "list"
        required: false
      - label: "Draft"
        name: "draft"
        widget: "boolean"
        default: true
      - label: "Body"
        name: "body"
        widget: "markdown"
