.post-content h1 {
    border-style: none none dotted solid;
    border-color: var(--accent);
    border-left-width: 5px;
    border-bottom-width: 3px;
    padding-left: 10px;
}
.post-content h2 {
    --border: 5px solid var(--accent);
    border-left: var(--border);
    padding-left: 10px;
}

.token.deleted {
    color: #ffa86a;
}

.token.inserted {
    color: var(--accent);
}

pre.language-diff code.language-diff {
    white-space: pre-wrap;
}

.quoteblock {
  > blockquote {
    border-bottom: 0px solid var(--accent);
    border-top: 0px solid var(--accent);
    margin: 0;
    padding: 0;
  }
  > .attribution {
      margin-top:20px;
  }
  border-top: 1px solid var(--accent);
  border-bottom: 1px solid var(--accent);
  margin: 40px 0;
  padding: 25px;

  @media (--phone) {
    padding-right: 0;
  }

  > blockquote:first-of-type {
    margin-top: 0;
  }

  > blockquote:last-of-type {
    margin-bottom: 0;
  }

  > blockquote {
    position: relative;
  }

  > blockquote:before {
    content: '>';
    display: block;
    position: absolute;
    left: -25px;
    color: var(--accent);
  }
}

.admonitionblock {
  margin: var(--verticalRhythm) 0;
  > table {
    border: none;
    > tbody tr td.icon {
      background: var(--accent);
      border: var(--primaryBorder) var(--accent);
      color: var(--background);
      text-align: center;
      width: 20%;
      vertical-align: middle;
    }
  }
}

table.stripes-even tr:nth-child(even) {
  background: rgb(21, 24, 32);
}
table.stripes-odd tr:nth-child(odd) {
  background: rgb(21, 24, 32);
}

nav#TableOfContents {
    ul {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    a {
        text-decoration: none;
        color: var(--accent);
    }
    display: block;
    margin: 50px;

}
