@import url("https://cdn.jsdelivr.net/npm/katex@0.16.25/dist/katex.min.css");

:root {
    --accent_y: #FEC601;
    --accent_b: #00A1E4;
    --accent_p: #DC0073;
    --background_origin: #1D1E28;
}
mark {
    background: linear-gradient(transparent 60%, color-mix(in srgb, var(--accent_b), var(--background_origin) 50%)  60%);
    padding: 0.1em 0.2em;
    border-radius: 2px;
    color: inherit;
}
strong {
    color: var(--accent);
}
.underline {
    text-decoration: underline solid var(--accent);
}
.post-content h1 {
    color: var(--accent);
    font-size: 1.7em;
}

.post-content h2 {
    border-style: none none dotted solid;
    border-color: var(--accent);
    border-left-width: 5px;
    border-bottom-width: 3px;
    padding-left: 10px;
    font-size: 1.5em;
}
.post-content h3 {
    --border: 5px solid var(--accent);
    border-left: var(--border);
    padding-left: 10px;
    font-size: 1.4em;
}
.post-content h4 {
    --border: 1px solid var(--accent);
    border-left: var(--border);
    padding-left: 10px;
    font-size: 1.2em;
}
.post-content h5 {
    font-size: 1.1em;
    color: var(--accent);
}

.token.deleted {
    color: #ffa86a;
}

.token.inserted {
    color: var(--accent);
}

pre.language-diff code.language-diff {
    white-space: pre-wrap;
}

blockquote {
    background-color: color-mix(in srgb, white, var(--background) 97%);

}

.quoteblock {
    background-color: color-mix(in srgb, white, var(--background) 97%);
  > blockquote {
    border-bottom: 0px solid var(--accent);
    border-top: 0px solid var(--accent);
    margin: 0;
    padding: 0;
  }
  .title {
    color: var(--accent);
    margin-bottom: 20px;
  }
  > .attribution {
      margin-top:20px;
  }
  border-top: 1px solid var(--accent);
  border-bottom: 1px solid var(--accent);
  border-right: 1px solid var(--accent);
  margin: 40px 0;
  padding: 25px;

  @media (--phone) {
    padding-right: 0;
  }

  > blockquote:first-of-type {
    margin-top: 0;
  }

  > blockquote:last-of-type {
    margin-bottom: 0;
  }

  > blockquote {
    position: relative;
  }

  > blockquote:before {
    content: '>';
    display: block;
    position: absolute;
    left: -25px;
    color: var(--accent);
  }
}

.fa.icon-tip::before {
    font-family: "FontAwesome";
    content: "\f0a4";
    font-style: normal;
}
.fa.icon-note::before {
    font-family: "FontAwesome";
    content: "\f044";
    font-style: normal;
}


.admonitionblock {
  margin: var(--verticalRhythm) 0;
  > table {
    border: none;
    > tbody tr td.icon {
      background: var(--accent);
      border: var(--primaryBorder) var(--accent);
      color: var(--background);
      text-align: center;
      width: 6%;
      vertical-align: top;
      padding-top:20px;
    }
    td.content {
        flex-direction: column;
        .title {
            border-bottom: 2px dotted var(--accent);
            text-align: center;
        }
    }
  }
}
.admonitionblock.note {
  > table {
    > tbody tr td.icon {
      background: var(--background);
      color: var(--accent);
      padding-top:0px;
    }
  }
}

table.stripes-even tr:nth-child(even) {
  background: rgb(21, 24, 32);
}
table.stripes-odd tr:nth-child(odd) {
  background: rgb(21, 24, 32);
}

th {
    background-color: rgb(40,40,40);
}

.halign-center {
      text-align: center;
}
.halign-right {
      text-align: right;
}

nav#TableOfContents {
    ul {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    a {
        text-decoration: none;
        color: var(--accent);
    }
    display: block;
    margin: 50px;
}

a.btn {
    font-size: 12px;
    padding-right: 5px;
    padding-left: 5px;
    text-decoration: none;
}
a.btn:hover {
    text-decoration: underline;
}
